@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    width: 32.3rem;
    height: 50rem;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card__image {
    border-radius: 1rem;
    width: 100%;
}

.card__text {
    text-align: center;
    margin-inline: 1rem;
}

.card__heading {
    margin-block: 2rem;
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.card__description {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.attribution {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    margin-block: 2rem;
    text-align: center;
    color: var(--grayish-blue);
}

.attribution a {
    color: var(--dark-blue);
    text-decoration: none;
    position: relative;
    border-bottom: 2px dotted var(--dark-blue);
    transition: border-bottom 0.3s ease;
}

.attribution a:hover {
    border-bottom: 2px solid var(--dark-blue);
}
